{% extends 'layout/layout.html' %}
{% load static %}

{% block main %}
    {% static 'assets/img/home-bg.jpg' as banner_image %}
    {% include 'includes/banner.html' with title='Blog' description='All articles for read!' image=banner_image %}
    <!-- Main Content-->
    <div class="container px-4 px-lg-5">
        <div class="row justify-content-center">
            <div class="col-6">
                <form action="" method="POST">
                    {% csrf_token %}
                    {{form.as_div}}
                    <button type="submit">Login</button>
                </form>
            </div>
        </div>
    </div>
{% endblock main %}